extends layout

mixin pluralize(value, single, other)
  -string=other
  if(value==1)
    -string=single
  =string

block content
  h1= title

  - each repo in repos
    p
      strong= repo.name
    ul
      - each entry in repo.timeEntries
        li
          | #{entry.issue} &mdash; #{entry.hours}#{' '}
          +pluralize(entry.hours, 'hour', 'hours')
