extends layout

mixin pluralize(value, single, other)
  -string=other
  if(value==1)
    -string=single
  =string

block content
  h1= title

  - each repo in repos
    p(title=repo.secret)
      strong= repo.name
    ul
      - each entry in repo.timeEntries
        li
          a(href=entry.issue.html_url)
            | #{entry.issue.title} ##{entry.issue.number}#{' '}
          | &mdash;#{' '}
          if(entry.hours == 'Free')
            | Free
          else
            | #{entry.hours}#{' '}
            +pluralize(entry.hours, 'hour', 'hours')
